In [38]:
import numpy as np
import pandas as pd
import scipy.stats as st
import yfinance as yf
from scipy.stats import linregress
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
drip = yf.download('DRIP', start = '2021-01-01', end = '2026-01-01', auto_adjust = True)

[*********************100%***********************]  1 of 1 completed

In [3]:
Oil = yf.download('CL=F', start = '2021-01-01', end = '2026-01-01', auto_adjust = True)

[*********************100%***********************]  1 of 1 completed

In [7]:
dripdates = set(DRIP.index)
cl_dates = set(OIL.index)

missing_in_drip = cl_dates - dripdates
missing_in_cl = dripdates - cl_dates

missing_in_drip,

({Timestamp('2025-01-09 00:00:00')},)

In [5]:
DRIP = drip.pct_change().dropna()

In [6]:
OIL = Oil.pct_change().dropna()

In [8]:
OIL = OIL.drop(pd.Timestamp("2025-01-09"))

In [21]:
OIL

Price          Close      High       Low      Open    Volume
Ticker          CL=F      CL=F      CL=F      CL=F      CL=F
Date
2021-01-05  0.048509  0.007425  0.001272 -0.021074  0.216955
2021-01-06  0.014020  0.014741  0.047417  0.051498 -0.208066
2021-01-07  0.003950  0.006675  0.018391  0.014251 -0.274995
2021-01-08  0.027740  0.028666  0.008335  0.007916  0.352361
2021-01-11  0.000191 -0.000948  0.013580  0.032397 -0.209433
...              ...       ...       ...       ...       ...
2025-12-24 -0.000514  0.003245  0.006754  0.008973 -0.391384
2025-12-26 -0.027592  0.002213 -0.025460 -0.002052  0.491285
2025-12-29  0.023616 -0.009851  0.004590 -0.022451  0.071525
2025-12-30 -0.002238  0.002916  0.012124  0.013499 -0.194793
2025-12-31 -0.009146  0.001368 -0.006944  0.002422  0.092892

[1254 rows x 5 columns]

In [28]:
print(DRIP)

Price          Close      High       Low      Open    Volume
Ticker          DRIP      DRIP      DRIP      DRIP      DRIP
Date
2021-01-05 -0.130601 -0.050408 -0.149320 -0.006977  1.670390
2021-01-06 -0.076211 -0.118267 -0.032470 -0.137783 -0.218704
2021-01-07 -0.039580 -0.072598 -0.047665 -0.068357 -0.215700
2021-01-08  0.032274  0.005251  0.007661 -0.041302  0.058800
2021-01-11 -0.043771  0.052659  0.004561  0.104916 -0.142649
...              ...       ...       ...       ...       ...
2025-12-24  0.011161 -0.002179  0.008399 -0.004396 -0.380122
2025-12-26  0.015452  0.017467  0.006108  0.000000 -0.009444
2025-12-29 -0.022826 -0.019313 -0.013245  0.003311  0.579639
2025-12-30 -0.014461 -0.029541 -0.024608 -0.025303  0.108607
2025-12-31  0.020316  0.027283  0.018349  0.005643 -0.059611

[1254 rows x 5 columns]

In [32]:
returns = pd.DataFrame({'DRIP' : DRIP[['Close']].values.flatten(),
                        'OIL' : OIL[['Close']].values.flatten()
                       }, index=DRIP.index).dropna()

In [33]:
returns

                DRIP       OIL
Date
2021-01-05 -0.130601  0.048509
2021-01-06 -0.076211  0.014020
2021-01-07 -0.039580  0.003950
2021-01-08  0.032274  0.027740
2021-01-11 -0.043771  0.000191
...              ...       ...
2025-12-24  0.011161 -0.000514
2025-12-26  0.015452 -0.027592
2025-12-29 -0.022826  0.023616
2025-12-30 -0.014461 -0.002238
2025-12-31  0.020316 -0.009146

[1254 rows x 2 columns]

In [42]:
Correlation = returns.corr()
print(Correlation)

          DRIP       OIL
DRIP  1.000000 -0.619238
OIL  -0.619238  1.000000

In [51]:
D = returns['DRIP'].std()
O = returns['OIL'].std()
R = -0.619239

In [54]:
Slope = R * (D/O)

In [55]:
print(Slope)

-1.2136896443819436

In [ ]:
** When Oil Moves 1% Drip moves -1.2% : Drip Also has a -